@import '@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css';
@font-face {
    font-family: 'MyFont';
    src: url('./Roboto-Thin.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

.hello{
    color:red;
    font-family: 'MyFont';
    /*background: url('./icon.png');*/
}